{% extends 'LoisteMinesweeperBundle::base.html.twig' %}

{% block body %}

<h1>Minesweeper</h1>

<table id="game" data-route-make-move="{{ path('LoisteMinesweeperBundle_makeMove') }}">
    {% for row in 0..9 %}
    <tr>
        {% for column in 0..19 %}

        {# Define variables. #}
        {% set gameObject = gameArea[row][column] %}
        {% set type = gameObject.type %}

        <td class="game-cell" data-type="{{ type }}">
            {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_NUMBER') %}
            <img src="{{ asset('bundles/loisteminesweeper/images/' ~ gameObject.number ~ '.png') }}" />
            {% endif %}

            {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_MINE_DISCOVERED') %}
            <img src="{{ asset('bundles/loisteminesweeper/images/mine.png') }}" />
            {% endif %}

            {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_UNDISCOVERED') or type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_MINE') %}
            <img src="{{ asset('bundles/loisteminesweeper/images/cell.png') }}" />
            {% endif %}

            {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_EMPTY') %}
            <img src="{{ asset('bundles/loisteminesweeper/images/empty.png') }}" />
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}